The Pandas Series can be defined as a one-dimensional array that is capable of storing various data types. We can easily convert the list, tuple, and dictionary into series using "series' method. The row labels of series are called the index.

Series by using various inputs:

    Array

In [1]:
import pandas as pd  
import numpy as np  
info = np.array(['P','a','n','d','a','s'])  
a = pd.Series(info)  
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

Series by using various inputs:

  
    Dict

In [2]:
info1 = {'x' : 0., 'y' : 1., 'z' : 2.}  
a = pd.Series(info1)  
print (a)

x    0.0
y    1.0
z    2.0
dtype: float64

Series by using various inputs:

   
    Scalar value

In [3]:
x = pd.Series(4, index=[0, 1, 2, 3])  
print (x)

0    4
1    4
2    4
3    4
dtype: int64

Accessing data from series with Position:

In [4]:
x = pd.Series([1,2,3],index = ['a','b','c'])  
#retrieve the first element  
print (x[0])

1

Series object attributes

The Series attribute is defined as any information related to the Series object such as size, datatype. etc.

In [9]:
x=pd.Series(data=[2,4,6,8])   
y=pd.Series(data=[11.2,18.6,22.5], index=['a','b','c'])   
print(x.index)   
print(x.values)   
print(y.index)   
print(y.values)  
print(x.dtype)   
print(x.shape)    
print(y.shape)  
print(x.ndim, y.ndim)   
print(x.size, y.size)   
print(x.nbytes, y.nbytes)

RangeIndex(start=0, stop=4, step=1)
[2 4 6 8]
Index(['a', 'b', 'c'], dtype='object')
[11.2 18.6 22.5]
int64
(4,)
(3,)
1 1
4 3
32 24

Checking Emptiness and Presence of NaNs

In [12]:
a=pd.Series(data=[1,2,3,np.NaN])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
c=pd.Series()   
print(a.empty,b.empty,c.empty)   
print(a.hasnans,b.hasnans,c.hasnans)   
print(len(a),len(b))   
print(a.count( ),b.count( ))

False False True
True False False
4 3
3 3

<ipython-input-12-33ff6ab7d731>:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  c=pd.Series()

**Series Functions**

Pandas Series.map(): is used to map the values from two series that have a common column. To map the two Series, the last column of the first Series should be the same as the index column of the second series, and the values should be unique.

In [16]:
a = pd.Series(['Java', 'C', 'C++', np.nan])  
b=a.map({'Java': 'Python'})
a 
b

0    Python
1       NaN
2       NaN
3       NaN
dtype: object

Pandas Series.std()

The Pandas std() is defined as a function for calculating the standard deviation of the given set of numbers, DataFrame, column, and rows.

In [17]:
import numpy as np   
c=pd.Series([4,7,2,1,6,3])
print(c.std())

2.316606713852541

Pandas Series.unique()

While working with the DataFrame in Pandas, you need to find the unique elements present in the column. For doing this, we have to use the unique() method to extract the unique values from the columns.

In [18]:
pd.unique(pd.Series([2, 1, 3, 3]))

array([2, 1, 3])

Pandas Series.value_counts()

The value_counts() function returns a Series that contain counts of unique values. It returns an object that will be in descending order so that its first element will be the most frequently-occurred element.

In [19]:
index = pd.Index([2, 1, 1, np.nan, 3])  
index.value_counts()

1.0    2
2.0    1
3.0    1
dtype: int64

Pandas Series.to_frame():
Series is defined as a type of list that can hold an integer, string, double values, etc. It returns an object in the form of a list that has an index starting from 0 to n where n represents the length of values in Series.

In [20]:
emp = ['Parker', 'John', 'Smith', 'William']   
id = [102, 107, 109, 114]     
emp_series = pd.Series(emp)   
id_series = pd.Series(id)     
frame = { 'Emp': emp_series, 'ID': id_series }   
result = pd.DataFrame(frame)     
print(result)

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114