In [1]:
import pandas as pd
l1=['java','python']
df1=pd.DataFrame(l1)
print(df1)

        0
0    java
1  python

In [2]:
dict1={'ID':[101,102,103],'Name':["A","B","C"]}
df2=pd.DataFrame(dict1)
print(df2)

    ID Name
0  101    A
1  102    B
2  103    C

In [10]:
print(df2['ID'])
print(df2['ID'].sum())
print(df2['ID'].max())
print(df2['ID'].min())
print(df2['ID'].mean())
print(df2['ID'].median())

0    101
1    102
2    103
Name: ID, dtype: int64
306
103
101
102.0
102.0

In [12]:
dict1={'ID':[101,102,103],'Name':["A","B","C"]}
df2=pd.DataFrame(dict1)
print(df2)
df2['Dept']=["MECH","CIVIL","EC"]
print(df2)
del df2['Dept']
print(df2)

    ID Name
0  101    A
1  102    B
2  103    C
    ID Name   Dept
0  101    A   MECH
1  102    B  CIVIL
2  103    C     EC
    ID Name
0  101    A
1  102    B
2  103    C

In [13]:
dict1={'ID':[101,102,103],'Name':["A","B","C"]}
df2=pd.DataFrame(dict1)
print(df2.iloc[0])

ID      101
Name      A
Name: 0, dtype: object

In [15]:
dict1={'ID':[101,102,103],'Name':["A","B","C"]}
df2=pd.DataFrame(dict1,index=['a','b','c'])
print(df2)
print(df2.loc['a'])

    ID Name
a  101    A
b  102    B
c  103    C
ID      101
Name      A
Name: a, dtype: object

In [16]:
dict1={'ID':[101,102,103],'Name':["A","B","C"]}
df2=pd.DataFrame(dict1,index=['a','b','c'])
print(df2[1:])

    ID Name
b  102    B
c  103    C

In [17]:
dict1={'ID':[101,102,103],'Name':["A","B","C"]}
df2=pd.DataFrame(dict1)
dict2={'ID':[104,105,106],'Name':["D","E","F"]}
df3=pd.DataFrame(dict2)
df4=pd.concat([df2,df3])
print(df4)

    ID Name
0  101    A
1  102    B
2  103    C
0  104    D
1  105    E
2  106    F

In [18]:
adf_dr=df4.drop(0)
print(adf_dr)

    ID Name
1  102    B
2  103    C
1  105    E
2  106    F

In [20]:
dict1={'ID':[101,102,103],'Name':["A","B","C"]}
df2=pd.DataFrame(dict1)
print(df2.describe())

          ID
count    3.0
mean   102.0
std      1.0
min    101.0
25%    101.5
50%    102.0
75%    102.5
max    103.0

In [26]:
wdf=pd.read_csv('weather.csv')
print(wdf.to_string)

<bound method DataFrame.to_string of     Unnamed: 0         day  temperature  windspeed   event
0            0  01-01-2022         32.0        6.0    Rain
1            1  01-04-2022          NaN        9.0   Sunny
2            2  01-05-2022         28.0        NaN    Snow
3            3  01-06-2022          NaN        7.0     NaN
4            4  01-07-2022         32.0        NaN    Rain
5            5  01-08-2022          NaN        NaN   Sunny
6            6  01-09-2022          NaN        NaN     NaN
7            7  01-10-2022         34.0        8.0  Cloudy
8            8  01-10-2022         34.0        8.0  Cloudy
9            9  01-11-2022         40.0       12.0   Sunny
10          10  01-11-2022         40.0       12.0   Sunny>

In [22]:
print(wdf.describe())

       Unnamed: 0  temperature  windspeed
count   11.000000     7.000000   7.000000
mean     5.000000    34.285714   8.857143
std      3.316625     4.386125   2.340126
min      0.000000    28.000000   6.000000
25%      2.500000    32.000000   7.500000
50%      5.000000    34.000000   8.000000
75%      7.500000    37.000000  10.500000
max     10.000000    40.000000  12.000000

In [23]:
print(wdf.head())

   Unnamed: 0         day  temperature  windspeed  event
0           0  01-01-2022         32.0        6.0   Rain
1           1  01-04-2022          NaN        9.0  Sunny
2           2  01-05-2022         28.0        NaN   Snow
3           3  01-06-2022          NaN        7.0    NaN
4           4  01-07-2022         32.0        NaN   Rain

In [25]:
print(wdf.tail(6))

    Unnamed: 0         day  temperature  windspeed   event
5            5  01-08-2022          NaN        NaN   Sunny
6            6  01-09-2022          NaN        NaN     NaN
7            7  01-10-2022         34.0        8.0  Cloudy
8            8  01-10-2022         34.0        8.0  Cloudy
9            9  01-11-2022         40.0       12.0   Sunny
10          10  01-11-2022         40.0       12.0   Sunny

In [27]:
wdf.isnull()

    Unnamed: 0    day  temperature  windspeed  event
0        False  False        False      False  False
1        False  False         True      False  False
2        False  False        False       True  False
3        False  False         True      False   True
4        False  False        False       True  False
5        False  False         True       True  False
6        False  False         True       True   True
7        False  False        False      False  False
8        False  False        False      False  False
9        False  False        False      False  False
10       False  False        False      False  False

In [29]:
wdf.notnull().sum()

Unnamed: 0     11
day            11
temperature     7
windspeed       7
event           9
dtype: int64

In [30]:
wdf.isnull().sum()

Unnamed: 0     0
day            0
temperature    4
windspeed      4
event          2
dtype: int64

In [33]:
wdf1=wdf
wdf.dropna(inplace=True)

In [34]:
wdf

    Unnamed: 0         day  temperature  windspeed   event
0            0  01-01-2022         32.0        6.0    Rain
7            7  01-10-2022         34.0        8.0  Cloudy
8            8  01-10-2022         34.0        8.0  Cloudy
9            9  01-11-2022         40.0       12.0   Sunny
10          10  01-11-2022         40.0       12.0   Sunny

In [35]:
wdf1

    Unnamed: 0         day  temperature  windspeed   event
0            0  01-01-2022         32.0        6.0    Rain
7            7  01-10-2022         34.0        8.0  Cloudy
8            8  01-10-2022         34.0        8.0  Cloudy
9            9  01-11-2022         40.0       12.0   Sunny
10          10  01-11-2022         40.0       12.0   Sunny

In [36]:
wdf2=pd.read_csv('weather.csv')

In [37]:
df1=wdf2.fillna(0)
df1

    Unnamed: 0         day  temperature  windspeed   event
0            0  01-01-2022         32.0        6.0    Rain
1            1  01-04-2022          0.0        9.0   Sunny
2            2  01-05-2022         28.0        0.0    Snow
3            3  01-06-2022          0.0        7.0       0
4            4  01-07-2022         32.0        0.0    Rain
5            5  01-08-2022          0.0        0.0   Sunny
6            6  01-09-2022          0.0        0.0       0
7            7  01-10-2022         34.0        8.0  Cloudy
8            8  01-10-2022         34.0        8.0  Cloudy
9            9  01-11-2022         40.0       12.0   Sunny
10          10  01-11-2022         40.0       12.0   Sunny

In [40]:
df2=pd.read_csv('weather.csv')

In [41]:
df2['temperature'].fillna(df2['temperature'].mean(),inplace=True)

In [42]:
df2

    Unnamed: 0         day  temperature  windspeed   event
0            0  01-01-2022    32.000000        6.0    Rain
1            1  01-04-2022    34.285714        9.0   Sunny
2            2  01-05-2022    28.000000        NaN    Snow
3            3  01-06-2022    34.285714        7.0     NaN
4            4  01-07-2022    32.000000        NaN    Rain
5            5  01-08-2022    34.285714        NaN   Sunny
6            6  01-09-2022    34.285714        NaN     NaN
7            7  01-10-2022    34.000000        8.0  Cloudy
8            8  01-10-2022    34.000000        8.0  Cloudy
9            9  01-11-2022    40.000000       12.0   Sunny
10          10  01-11-2022    40.000000       12.0   Sunny

In [43]:
df2['windspeed'].fillna(df2['windspeed'].max(),inplace=True)

In [44]:
df2.fillna({'event':'No records'},inplace=True)

In [45]:
df2

    Unnamed: 0         day  temperature  windspeed       event
0            0  01-01-2022    32.000000        6.0        Rain
1            1  01-04-2022    34.285714        9.0       Sunny
2            2  01-05-2022    28.000000       12.0        Snow
3            3  01-06-2022    34.285714        7.0  No records
4            4  01-07-2022    32.000000       12.0        Rain
5            5  01-08-2022    34.285714       12.0       Sunny
6            6  01-09-2022    34.285714       12.0  No records
7            7  01-10-2022    34.000000        8.0      Cloudy
8            8  01-10-2022    34.000000        8.0      Cloudy
9            9  01-11-2022    40.000000       12.0       Sunny
10          10  01-11-2022    40.000000       12.0       Sunny

In [47]:
df2

    Unnamed: 0         day  temperature  windspeed       event
0            0  01-01-2022    32.000000        6.0        Rain
1            1  01-04-2022    34.285714        9.0       Sunny
2            2  01-05-2022    28.000000       12.0        Snow
3            3  01-06-2022    34.285714        7.0  No records
4            4  01-07-2022    32.000000       12.0        Rain
5            5  01-08-2022    34.285714       12.0       Sunny
6            6  01-09-2022    34.285714       12.0  No records
7            7  01-10-2022    34.000000        8.0      Cloudy
8            8  01-10-2022    34.000000        8.0      Cloudy
9            9  01-11-2022    40.000000       12.0       Sunny
10          10  01-11-2022    40.000000       12.0       Sunny

In [48]:
df2.drop(['Unnamed: 0'],axis=1,inplace=True)

In [62]:
df2

           day  temperature  windspeed       event
0   01-01-2022    32.000000        6.0        Rain
1   01-04-2022    34.285714        9.0       Sunny
2   01-05-2022    28.000000       12.0        Snow
3   01-06-2022    34.285714        7.0  No records
4   01-07-2022    32.000000       12.0        Rain
5   01-08-2022    34.285714       12.0       Sunny
6   01-09-2022    34.285714       12.0  No records
7   01-10-2022    34.000000        8.0      Cloudy
8   01-10-2022    34.000000        8.0      Cloudy
9   01-11-2022    40.000000       12.0       Sunny
10  01-11-2022    40.000000       12.0       Sunny

In [64]:
df2.duplicated().sum()

2

In [51]:
df2.drop_duplicates()

          day  temperature  windspeed       event
0  01-01-2022    32.000000        6.0        Rain
1  01-04-2022    34.285714        9.0       Sunny
2  01-05-2022    28.000000       12.0        Snow
3  01-06-2022    34.285714        7.0  No records
4  01-07-2022    32.000000       12.0        Rain
5  01-08-2022    34.285714       12.0       Sunny
6  01-09-2022    34.285714       12.0  No records
7  01-10-2022    34.000000        8.0      Cloudy
9  01-11-2022    40.000000       12.0       Sunny

In [53]:
df2.groupby(df2['event']).max()

                   day  temperature  windspeed
event
Cloudy      01-10-2022    34.000000        8.0
No records  01-09-2022    34.285714       12.0
Rain        01-07-2022    32.000000       12.0
Snow        01-05-2022    28.000000       12.0
Sunny       01-11-2022    40.000000       12.0

In [60]:
df3=df2.groupby(df2['event']).max()
print(df3)
df3['temperature']

                   day  temperature  windspeed
event
Cloudy      01-10-2022    34.000000        8.0
No records  01-09-2022    34.285714       12.0
Rain        01-07-2022    32.000000       12.0
Snow        01-05-2022    28.000000       12.0
Sunny       01-11-2022    40.000000       12.0

event
Cloudy        34.000000
No records    34.285714
Rain          32.000000
Snow          28.000000
Sunny         40.000000
Name: temperature, dtype: float64